*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.calculator-case {
    display: inline-block;
    border: solid #7CB9E8 1px;
    border-radius: 25px;
    background: #7CB9E8;
    padding: 2rem;
}

.calculator-screen {
    width: 360px;
    height: 50px;
    border: solid black 1px;
    display: flex;
    font-size: 32px;
    justify-content: end;
    border-radius: 25px;
    align-items: center;
    background-color: white;
    padding: 1rem
}

.clear-button #clear{
    height: 56.5px;
    width: 82px;
    margin: 0.5rem 0rem;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: 250px;
    gap: 8px;
}

button {
    border-radius: 25px;
    border: solid blue 1px;
    background-color: wheat;
}
